html
    head
        title Web2-lab2
    body
        ul
            li
                h3: a(href='/') Home
            li
                h3: a(href='/vuln-xss') Cross-site scripting
            li
                h3: a(href='/vuln-data') Nesigurna pohrana osjetljivih podataka
